.navbar-default .navbar-brand {
    color: #43BFE8;
}

body {
	font-family: Georgia;
	background-image: url("corkboard.png");
}

.thumbnail {
	background-color:transparent;
	border-color: transparent;
	position: relative
}

.box {
	width: 100px;
	height: 100px;
	margin: 20px;
	float: left;
}


.buttons {
	color: #43BFE8;
}

#space {
	width: 40px;
	right-border: 10px;
}

.leftPerson{
	float: left;
	margin: 10px;
	width: 300px;
}

.middlePerson{
	float: left;
	margin: 10px;
	width: 300px;
}

table{
	/*border-spacing: 300px;
	width: 800px;*/
	margin: 10px auto;
	margin-bottom: 40px;
}

.ui-helper-center {
	text-align: center;
}

#chef-title{
	padding: 8px; 
	width: 94%;
	background: white; 
	color: #19758D;
	border: #19758D 2px solid;
	text-align: center;
	font-family: "Georgia", Garamound, serif;
	font-size: 20px;
	margin-left: 3%;
}

#house-manager-title{
	padding: 8px; 
	width: 94%;
	background: white; 
	color: #19758D;
	border: #19758D 2px solid;
	text-align: center;
	font-family: "Georgia", Garamound, serif;
	font-size: 20px;
	margin-left: 3%;
}

#food-manager-title{
	padding: 8px; 
	width: 94%;
	background: white; 
	color: #19758D;
	border: #19758D 2px solid;
	text-align: center;
	font-family: "Georgia", Garamound, serif;
	font-size: 20px;
	margin-left: 3%;
}

#comment-box{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 16px;

}

.background-white{
	background: white; 
}

.background-yellow{
	background: #FFFF99; 
}

.title-btn{
	padding: 0px;
}

.btn-img{
	margin-left: 0%;
}
/*
.image{
	margin-top: 10px;
	margin-bottom: 10px;
}*/

#sticky_container{
	position: relative;
    top: 60%;
    margin-top: 2%;
}


.submit{
	position: 10%;
	top: 60%;
}

.select-all-btn{
	margin-left: 45%;
	background: white; 
	color: #19758D;
	border: #19758D 2px solid;
	text-align: center;
	font-family: "Georgia", Garamound, serif;
	padding-top: 5px;
	margin-top: 1.5%;
}
.font{
	font-family: "Georgia", Garamound, serif;
	font-size: 18px;
}

.long_sticky_img{
	//position: absolute;
	margin-left: 1.5%;
	margin-right: 10%;
}

.long_sticky_img img{
/*	//display: block;
//	margin-top: 10px;
	//margin-bottom: 20%;*/
}

.long_sticky_img textarea{
	position: absolute;
	top: 8%;
	left: 6%;
	height: 150px;
	width: 88%;
	background-color: transparent;
	border-color: transparent;
	font-family: "Georgia", Garamound, serif;
	color: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;

	/*color: #707070;*/
}

.cursive-font{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 16px;
}
.comment_container{
	position: relative;
	margin: 0 auto;
    width: 100%;
}

.comment_box{
	position: relative;
	font-family: "Georgia", Garamound, serif;
	color: #808080;
	left: 100px;
	top: 100px;
}

.modal{
	margin-top: 10px;
}

.requestedItem {
	color: #43BFE8;
	position: absolute;
	top: 5px;
	left: 15px;
}

#liked {
	color: #43BFE8;	
}
#disliked {
	color: #43BFE8;	
}

.buttons {
	color: #43BFE8;
}

#logo {
	vertical-align: middle;
	display: inline-block;
}

.day {
	display: inline-block;
	position: relative;
	width: 19%;
	height: 250px;
}

.sticky {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
}


.menu_text {
	position: absolute;
	left: 20px;
	width: 200px;
	color: #43BFE8;
}

#menu_page_row {
	background-image: url("blackboard.png");
}

.menu_heading {
	color: #43BFE8;
	background-color: rgb(248, 248, 248);;
	padding: 10px;
	border-radius: 5px;
	display: block;
	position: relative;
}

.no-border{
	border: 0px solid transparent;
}

.day_menu { 
	margin-bottom: 10px; 
	width: 80%;
}

[contenteditable="true"] { 
	padding: 10px; 
}

[contenteditable="true"]:hover { 
	outline: 2px dashed #0090D2; 
}

