.navbar-default .navbar-brand {
    color: #43BFE8;
}

body {
	font-family: Georgia;
}
#corkboard {
	background-image: url("corkboard.png");
}
.thumbnail {
	background-color:transparent;
	border-color: transparent;
	position: relative
}

.box {
	width: 100px;
	height: 100px;
	margin: 20px;
	float: left;
}


.buttons {
	color: #43BFE8;
}

#space {
	width: 40px;
	right-border: 10px;
}

.leftPerson{
	float: left;
	margin: 10px;
	width: 300px;
}

.middlePerson{
	float: left;
	margin: 10px;
	width: 300px;
}

th,td{
	padding: 10px;
}

table{
	border-spacing: 500px;
	width: 800px;
	margin: 10px auto;
	margin-bottom: 40px;
}

.ui-helper-center {
	text-align: center;
}

#chef-title{
	padding: 10px; 
	width: 63%;
	left: 100px;
	margin-left: 19%;
	background: white; 
	border: black 1.5px solid;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
	font-family: "Georgia", Garamound, serif;
}

#house-manager-title{
	padding: 10px; 
	width: 63%;
	left: 100px;
	margin-left: 18%;
	background: white; 
	border: black 1.5px solid;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
	font-family: "Georgia", Garamound, serif;
}

#food-manager-title{
	padding: 10px; 
	width: 63%;
	left: 100px;
	margin-left: 18%;
	background: white; 
	border: black 1.5px solid;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
	font-family: "Georgia", Garamound, serif;
}
.row{
	margin-bottom: 10px;
}

.image{
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
}

#sticky_container{
	position: relative;
    top: 60%;
    left: 29%;
    margin-top: 10px;
}

.btn-default{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
	margin-top: 10px;
}

#btnSubmit{
	position: absolute;
	top: 60%;
	left: 25%
}

.font{
	font-family: "Georgia", Garamound, serif;
}

.font{
	font-size: 18px;
}

.long_sticky_img{
	position: absolute;
	margin-top: 10px;
}

.long_sticky_img img{
	display: block;
	margin-top: 10px;
}

.long_sticky_img textarea{
	position: absolute;
	top: 12%;
	left: 8%;
	height: 100px;
	width: 500px;
	background-color:#FFFF77;
	font-family: "Georgia", Garamound, serif;
	border-color: gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
	/*color: #707070;*/
}

.comment_container{
	position: relative;
	margin: 0 auto;
    width: 100%;
}

.comment_box{
	position: relative;
	font-family: "Georgia", Garamound, serif;
	color: #808080;
	left: 100px;
	top: 100px;
}

.modal{
	margin-top: 10px;
}

.glowing-border {

	/*
    margin: auto;
    background-color: #1f5afe;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	*/
    border: 7px solid #00FF66;
    border-radius: 7px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
}

.glowing-border:focus { 
	/*
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	padding: 3px 0px 3px 3px;
  	margin: 5px 1px 3px 0px;
  	border: 1px solid rgba(81, 203, 238, 1);
	*/
	/*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    
}

.requestedItem {
	color: #43BFE8;
	position: absolute;
	top: 5px;
	left: 15px;
}

#liked {
	color: #43BFE8;	
}
#disliked {
	color: #43BFE8;	
}

.buttons {
	color: #43BFE8;
}

#logo {
	vertical-align: middle;
	display: inline-block;
}

.day {
	/*display: inline-block;*/
	float: left;
	position: relative;
	width: 20%;
	height: 250px;

}

.sticky {
	/*position: absolute;
	left: 0;
	top: 0;*/
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu_text {
	position: absolute;
	top: -5px;
	left: 20px;
	width: 200px;
	color: #43BFE8;
	margin-left: auto;
	margin-right: auto;

}


.menu_row {
	padding-top: 20px;
	display: flex;
	/*text-align: center;*/

}

/*#suggest_box {
	background-color: rgb(248, 248, 248);
}*/

h2 {
	color: #43BFE8;
	background-color: rgb(248, 248, 248);
	padding: 10px;
	border-radius: 5px;
	/*display: block;*/
	/*position: relative;*/
}