.navbar-default .navbar-brand {
    color: #43BFE8;
}
#corkboard {
	background-image: url("corkboard.png");
}
.thumbnail {
	background-color:transparent;
	border-color: transparent;
	position: relative
}

#stickyImage {
	margin-left: 0px;
	margin-right: 0px;
}

.requestedItem {
	color: #43BFE8;
	position: absolute;
	top: 5px;
	left: 15px;
}

#liked {
	color: #43BFE8;	
}
#disliked {
	color: #43BFE8;	
}

.buttons {
	color: #43BFE8;
}

.badge {
	color: white;
	background-color: #43BFE8;
}

#contact {
	color: #43BFE8;
	position: absolute;
	top: 5px;
	margin-right: 50px;
	margin-left: 10px;
}

#contactInfo {
	color: #43BFE8;
	position: absolute;
	z-index: 2;
	top: 100px;
	margin-right: 50px;
	margin-left: 10px;
}

#request {
	color: #43BFE8;
	position: absolute;
	top: 5px;
	margin-right: 50px;
	margin-left: 10px;
}

#requestInfo {
	color: #43BFE8;
	position: absolute;
	z-index: 2;
	top: 100px;
	margin-right: 50px;
	margin-left: 10px;
}


#menu {
	color: #43BFE8;
	position: absolute;
	top: 5px;
	margin-right: 50px;
	margin-left: 10px;
}

#menuInfo {
	color: #43BFE8;
	position: absolute;
	z-index: 2;
	top: 100px;
	margin-right: 50px;
	margin-left: 10px;
}


#signIn {
	margin-top: 9px;
}

#infoSection {	
	background-color:  #FFFFA3;
	color: #43BFE8;
}